apprise==1.9.2
astroid==3.3.8
certifi==2022.5.18.1
cfgv==3.4.0
charset-normalizer==2.0.12
click==8.1.8
dill==0.3.9
distlib==0.3.9
filelock==3.17.0
identify==2.6.8
idna==3.3
isort==6.0.1
Markdown==3.7
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
oauthlib==3.2.2
packaging==24.2
pathspec==0.12.1
pbr==6.1.1
platformdirs==4.3.6
PyYAML==6.0.2
ratelimit==2.2.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.8.2
slack-sdk==3.17.0
structlog==21.5.0
tomlkit==0.13.2
urllib3==1.26.9
virtualenv==20.29.2
